<%- include('header'); -%>
<div class="body">
    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Et quia laboriosam magnam nostrum atque dolores voluptate nisi quod quidem. Cum quibusdam id in numquam voluptates impedit quaerat illo delectus! Harum tempore omnis asperiores! Cum deserunt quis, fugit nulla aut ducimus pariatur architecto. Corrupti, a nam unde esse eligendi nisi totam.</h1>
</div>

<%- include('footer'); -%>